<h1>Detalle de producto</h1>
<div>
  <div>
    <label>Nombre:</label>
    <%= @product.name %>
  </div>
  <div>
    <label>Descripcion:</label>
    <%= @product.description %>
  </div>
  <div>
    <label>precio:</label>
    <%= @product.price %>
  </div>
  <div>
    <label>stock:</label>
    <%= @product.stock %>
  </div>
</div>